@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  width: 24px;
  height: 24px;
}

.blinking-cursor {
  display: inline-block;
  width: 10px;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}